@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}
html,body{
    width: 100vw;
    height: 100vh;
}
main{
    width: 100vw;
    height: 100vh;

    --bg-color:white;
    --text-color: black;
    --header-color:white;
}
header{
    width: 100%;
    height: 20%;
    padding: 20px;
    box-shadow: 0 0 10px black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--header-color);
    color: var(--text-color);
    transition: background-color 0.52s linear;
}
main.dark,header.dark,.search.dark,.country-card.dark{
    --bg-color:rgb(33, 33, 61);
    --text-color:white;
    --header-color:rgb(15, 15, 31);
    transition: background-color 0.52s linear;
    background-color: var(--bg-color);
    color: var(--text-color);

}
header img{
    width: 40px;
}
.text1{
    font-weight: bold;
    font-size: larger;
    text-decoration: none;
    background-color: inherit;
    color: var(--text-color);
}
.text2{
    font-weight: bold;
    font-size: large;
    background-color: inherit;
    color: var(--text-color);
}
#Mode{
    display: flex;
    align-items: center;
    cursor: pointer;
    background-color: inherit;
    color: var(--text-color);
}
.search{
    width: 100%;
    height: 80px;
    padding: 10px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--bg-color);
    color: var(--text-color);
    transition: background-color 0.52s linear;
}
.search-countries{
    width: 25%;
    height: 80%;
    box-shadow: 0 0px 2px black;
    border-style: solid;
    background-color: var(--bg-color);
    color: var(--text-color);
transition: background-color 1s linear;
}
#country-filter{
    width: 20%;
    height: 80%;
    border-radius: 5px;
    background-color: var(--bg-color);
    color: var(--text-color);
}
.countries-list{
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    padding-left: 200px;
    padding-top: 120px;
    padding-bottom: 120px;
    padding-right: 120px;
    background-color: var(--bg-color);
    color: var(--text-color);
    transition: background-color 0.52s linear;
}
.card{
    width: 350px;
    height: 400px;
    border-radius: 10px;
    box-shadow: 0 0 9px black;
    overflow: hidden;
    text-decoration: none;
    line-height: 30px;
    transition: transform 0.22s;
    background-color: var(--bg-color);
    color: var(--text-color);


}
.card:hover{
    transform: translateY(-10px);
}
.card img{
    width: 100%;
    height: 50%;
    background-color: var(--bg-color);
    color: var(--text-color);
}
.country-name{
    font-weight: bold;
    text-align: center;
    font-size: larger;
    background-color: var(--bg-color);
    color: var(--text-color);
}
.country-properties{
    font-size: medium;
    background-color: var(--bg-color);
    color: var(--text-color);
}

.country-card{
    width: 100vw;
    height: 100vh;
    border: 2px solid black;
    padding: 50px;
    box-shadow: 0 0 20px black;
    border-radius: 10px;
    margin: auto;
    background-color: var(--bg-color);
    color: var(--text-color);
}

.country-detail-flag{
    width: 400px;
    height: 300px;
    background-color: var(--bg-color);
    color: var(--text-color);
}

.country-details{
    font-weight: bold;
    font-size: larger;
    background-color: var(--bg-color);
    color: var(--text-color);
}
.back-button{
    width: 50px;
    height: 50px;
}
.back-button > img{
    width: 40px;
    height: 40px;
}
.border-countries{
    width: 100px;
    height: 100px;
    box-shadow: 0 0 10px black;
    font-size: small;
    padding: 10px;
    border-radius: 3px;

    text-decoration: none;
    background-color: var(--bg-color);
    color: var(--text-color);
}