@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}
html,body{
    width: 100%;
    height: 100%;
}
.dark{
    background-color: black;
    color: white;
}
header{
    width: 100%;
    height: 20%;
    padding: 20px;

    box-shadow: 0 0 10px gray;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header img{
    width: 40px;
}
.text1{
    font-weight: bold;
    font-size: larger;
    text-decoration: none;
    color: black;
}
.text2{
    font-weight: bold;
    font-size: large;
}
#Mode{
    display: flex;
    align-items: center;
}
.search{
    width: 100%;
    height: 80px;
    padding: 10px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}
.search-countries{
    width: 25%;
    height: 80%;
    box-shadow: 0 0px 2px gray;
    border-style: solid;
}
#country-filter{
    width: 20%;
    height: 80%;
    border-radius: 5px;
}
.countries-list{
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    padding-left: 160px;
    padding-top: 120px;
    padding-bottom: 120px;
    padding-right: 120px;
}
.card{
    width: 350px;
    height: 400px;
    border-radius: 10px;
    box-shadow: 0 0 9px gray;
    overflow: hidden;
    text-decoration: none;
    line-height: 30px;
    transition: transform 0.22s;
}
.card:hover{
    transform: translateY(-10px);
}
.card img{
    width: 100%;
    height: 50%;
}
.country-name{
    font-weight: bold;
    text-align: center;
    font-size: larger;
}
.country-properties{
    font-size: medium;
}

.country-card{
    width: 800px;
    height: 700px;
    border: 2px solid black;
    /* transform: translate(-50% , 50%); */
    padding: 50px;
    box-shadow: 0 0 20px gray;
    border-radius: 10px;
    margin: auto;
}

.country-detail-flag{
    width: 400px;
    height: 300px;
}

.country-details{
    font-weight: bold;
    font-size: larger;
}
.back-button{
    width: 50px;
    height: 50px;
}
.back-button > img{
    width: 40px;
    height: 40px;
}
.border-countries{
    width: 100px;
    height: 100px;
    box-shadow: 0 0 10px gray;
    font-size: small;
    padding: 10px;
    border-radius: 3px;

    text-decoration: none;
    color: black;
}