.container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    row-gap: 10px;
    column-gap: 20px;
    flex-wrap: wrap;
}
.card{
    padding: 10px;
    width: 300px;
    height: 500px;
    border-radius: 5px;
    border: 1px solid black;
    cursor: pointer;
}
.card:hover{
    transform: translateY(-10px);
    box-shadow: 0px 0px 10px black;
}
.card img{
    width: 150px;
    height: 200px;
}